{% extends 'base.html.twig' %}

{% block title %}List of Authors{% endblock %}

{% block body %}
    <h1>Authors</h1>

    {% if authors is defined and authors is not empty %}
        <table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Email</th>
            <th>Number of Books</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for author in authors %}
        <tr>
            <td>
                <img src="{{ asset(author.picture) }}" alt="{{ author.username }}" width="80">
            </td>
            <td>{{ author.username|upper }}</td>
            <td>{{ author.email }}</td>
            <td>{{ author.nb_books }}</td>
            <td>
                <a href="{{ path('author_details', {id: author.id}) }}">Détails</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    {% else %}
        <p>Aucun auteur trouvé.</p>
    {% endif %}

    <p>Nombre total d’auteurs : {{ authors|length }}</p>
    
    {% set total_books = 0 %}
{% for author in authors %}
    {% set total_books = total_books + author.nb_books %}
{% endfor %}

<p>Nombre total de livres : {{ total_books }}</p>
{% endblock %}
