{{ nom|upper }}
{{ '&HELLo'|lower|trim('&') }}

{% set a="Hello" %}

{{ a }}

{# Ceci un commentaire #}

{% for i in 0..9 %}
{{ i }}
{% endfor %}

{% set hour=14 %}
{% if hour < 12 %}
<p>Bonjour ! </p>
{% elseif hour < 18 %}
<p>Bon aprés-midi!</p>
{% else %}
<p> ..</p>
{% endif %}

<a href="{{path('app_author')}}">Link1</a>
<a href="{{url('app_author')}}">Link2</a>

<img style="width: 400px; height: 500px;" src="{{ asset ('assets/images/Shakespeare.jpg')}}" alt=''Example"/>